
#Don't track content of these folders
trained_models/
someOtherfoler/
lib/superquadric_parsing_python2/results
model_output/
lib/pose_estimation/trained_models

# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
*.pyc
*.so

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
